
<%- include('partials/privateheader') -%>

<h2 class="h2dashboard">Account Manager</h2>

</div>

<header>
    <h1>Account Management Module</h1>
  </header>
  <nav>
    <ul>
      <li><button class="btn" onclick="toggleSection('createUserSection')">Create User</button></li>
      <li><button class="btn" onclick="toggleSection('editUserSection')">Edit User</button></li>
      <li><button class="btn" onclick="toggleSection('deleteUserSection')">Delete User</button></li>
      <li><button class="btn" onclick="toggleSection('changePasswordSection')">Change Admin Password</button></li>
    </ul>
  </nav>

  <main>
    <section id="createUserSection" class="hide">
      <h2>Create User</h2>
      <form action="/createAccount" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="form-group pb-3">
          <label for="usertype">Choose User Access</label>
          <select class="form-control" name="userType">
            <option value="">Select a user type ...</option>
            <option value="admin" >Admin</option>
            <option value="basicuser">Basic User</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" value="CreateUser">Create User</button>
      </form>
    </section>
    <section id="editUserSection" class="hide">
      <h2>Edit User</h2>
      <form>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Edit User</button>
    </form>
    </section>
    <section id="deleteUserSection" class="hide">
      <h2>Delete User</h2>
      <form  action="/deleteUser" method="POST">
          <div class="form-group pb-3">
            <label>Username</label>
            <select class="form-control" name="username">
              <% users.forEach(user => { %>
                <option value="<%= user.username %>"><%= user.username %></option>
              <% }); %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Delete User</button>
      </form>
    </section>
    <section id="changePasswordSection" class="hide">
      <h2>Change Admin Password</h2>
      <form>
        <div class="form-group">
          <label>Current Password</label>
          <input type="password" name="currentPassword" class="form-control">
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" name="newPassword" class="form-control">
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </section>
  </main>

  <script>
    function toggleSection(sectionId) {
      let sections = document.querySelectorAll('section');
      sections.forEach(section => {
        section.classList.remove('show');
        section.classList.add('hide');
      });
      let section = document.getElementById(sectionId);
      section.classList.remove('hide');
      section.classList.add('show');
    }
  </script>
 

  
<%- include('partials/privatefooter'); -%>