
<%- include('partials/privateheader') -%>

<h2 class="h2dashboard">Account Manager</h2>

</div>

<header>
    <h1>Account Management Module</h1>
  </header>
  <nav>
    <ul>
      <li><button class="btn" onclick="toggleSection('createUserSection')">Create User</button></li>
      <li><button class="btn" onclick="toggleSection('editUserSection')">Edit User</button></li>
      <li><button class="btn" onclick="toggleSection('deleteUserSection')">Delete User</button></li>
      <li><button class="btn" onclick="toggleSection('changePasswordSection')">Change Admin Password</button></li>
    </ul>
  </nav>

  <main>
    <section id="createUserSection" class="hide">
      <h2>Create User</h2>
      <form>
        <label>Username</label>
        <input type="text" name="username">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit">Create User</button>
      </form>
    </section>
    <section id="editUserSection" class="hide">
      <h2>Edit User</h2>
      <form>
        <label>Username</label>
        <input type="text" name="username">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit">Edit User</button>
      </form>
    </section>
    <section id="deleteUserSection" class="hide">
      <h2>Delete User</h2>
      <form>
        <label>Username</label>
        <select name="username">
          <option value="">Select a user...</option>
          <option value="john">John</option>
          <option value="jane">Jane</option>
        </select>
        <button type="submit">Delete User</button>
      </form>
    </section>
    <section id="changePasswordSection" class="hide">
      <h2>Change Admin Password</h2>
      <form>
        <label>Current Password</label>
        <input type="password" name="currentPassword">
        <label>New Password</label>
        <input type="password" name="newPassword">
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword">
        <button type="submit">Change Password</button>
      </form>
    </section>
  </main>

  <script>
    function toggleSection(sectionId) {
      let sections = document.querySelectorAll('section');
      sections.forEach(section => {
        section.classList.remove('show');
        section.classList.add('hide');
      });
      let section = document.getElementById(sectionId);
      section.classList.remove('hide');
      section.classList.add('show');
    }
  </script>
 

  
<%- include('partials/privatefooter'); -%>