<%- include('partials/privateheader') -%>

    
<h2 class="h2dashboard">Content Manager</h2>
<p>Currently Logged-in as: <%= username %></p>
</div>

<header>
    <h1>Account Management Module</h1>
  </header>
  <nav>
    <ul>
      <li><button class="btn" onclick="toggleSection('createPostSection')">Create Post</button></li>
      <li><button class="btn" onclick="toggleSection('editPostSection')">Edit/Delete Post</button></li>
    </ul>
  </nav>

  <main>
    <section id="createPostSection" class="hide">
      <h2>Create Post</h2>
         
<form class='col-md-10' action="/createContent" method="post">
                <div class="form-group col-md-12">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Enter title" size="50">
                </div>
                <div class="form-group col-md-12">
                    <label for="body">Body</label>
                    <textarea name="content" class="form-control" id="body" rows="5" placeholder="Enter your blog post here" cols="100"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="image">Image</label>
                    <input type="file" name="image" class="form-control-file" id="image">
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default" value="postContent" id="postButton">Post</button>
                </div>
                <% if (message.length > 0) { %>
                    <div class="alert alert-success mt-4"><%= message %></div>
                <% } %>
            </form>
            <script>
                $(document).ready(function() {
                    $('#postButton').on('click', function(){
                        event.preventDefault(); 
                        $('.alert').delay(3000).fadeIn();
                    });
                    $('.alert').delay(3000).fadeOut();
                });
            </script>
    </section>
    <section id="editUserSection" class="hide">
      <h2>Edit/Delete Post</h2>
    
    </section>
  </main>

  <script>
    function toggleSection(sectionId) {
      let sections = document.querySelectorAll('section');
      sections.forEach(section => {
        section.classList.remove('show');
        section.classList.add('hide');
      });
      let section = document.getElementById(sectionId);
      section.classList.remove('hide');
      section.classList.add('show');
    }
  </script>
 


<%- include('partials/privatefooter'); -%>