<%- include('partials/header') -%>

<div id="image-gallery">
  <div class="image-row">
    <img src="images/galleryimage1.jpg" alt="Image 1" class="image-item">
    <img src="images/galleryimage2.jpg" alt="Image 2" class="image-item">
  </div>
  <div class="image-row">
    <img src="images/galleryimage3.jpg" alt="Image 3" class="image-item">
    <img src="images/galleryimage4.jpg" alt="Image 4" class="image-item">
  </div>
  <div class="image-row">
    <img src="images/galleryimage5.jpg" alt="Image 5" class="image-item">
    <img src="images/galleryimage6.jpg" alt="Image 6" class="image-item">
  </div>
</div>


<%- include('partials/footer'); -%>