<%- include('partials/header') -%>
      
      <div class="d-flex p-2">
      <div class="landingmessage float-start">
      <h1>Welcome to KMJF Poynets</h1> 
      <h3>Your premiere source of top-quality range nets for your fishing, farming and poultry needs. Please rephrase this to make it more catchy.</h3>

      <h3>Take your farming, fishing, and poultry to the next level with Ranging Nets. Shop now and experience the difference!</h3>
      </div>

      <div>
      <img src="images/landingepageimage.jpg" class="rounded float-end landingimage" alt="kmjfproducts">
      </div>
    </div>


 <%- include('partials/footer'); -%>